body {
  margin: 0;
}

.nav {
  display: flex;
}

.card-img-home {
  width: 56px;
  padding-left: 14px;
}

.nav .nav1 {
  flex: 1;
  background-color: white;
}

.nav .nav1 .nav1-div {
  margin-left: 9%;
}

.nav .nav1 .nav1-div .butt1 {
  min-height: 40px;
  min-width: 20%;
  font-size: 14px;
  background-color: black;
  border-radius: 20px;
  color: white;
}

.nav .nav1 .nav1-div .paraHead1 {
  max-width: 100%;
  font-size: 14px;
}

.nav .nav1 .nav1-div .siteName {
  font-size: 200px;
  font-weight: 600;
  z-index: 1;
  color: #f5f5f5;
}

.nav2 {
  flex: 1;
  background-color: #4863a0;
  height: 40rem;
}

.nav .nav2 .nav2-div {
  margin-left: 0%;
}

.nav .nav2 .nav2-div .siteName2 {
  font-size: 68px;
  font-weight: 600;
  z-index: 1;
  color: #f5f5f5;
}
.nav .nav1 .cardLeft {
  max-width: 160px;
  height: 120px;
  top: 12%;
  z-index: 1;
  cursor: pointer;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  font-size: 12px;
}

.nav .nav2 .cardRight {
  height: 120px;
  z-index: 1;
  max-width: 160px;
  cursor: pointer;
  top: 12%;
  font-size: 12px;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

@media only screen and (max-width: 425px) {
  .nav .nav1 .nav1-div .siteName {
    font-size: 65px;
    letter-spacing: 10px;
  }

  .nav .nav1 .nav1-div .paraHead1 {
    font-size: 12px;
  }

  .nav .nav1 .nav1-div {
    margin-top: 40%;
  }

  .nav .nav2 .nav2-div {
    margin-top: 40%;
  }

  .nav .nav2 .nav2-div .siteName2 {
    font-size: 65px;
    letter-spacing: 10px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .nav .nav1 .nav1-div .siteName {
    font-size: 80px;
    letter-spacing: 10px;
  }

  .nav .nav1 .nav1-div .paraHead1 {
    font-size: 12px;
  }

  .nav .nav2 .nav2-div .siteName2 {
    font-size: 80px;
    letter-spacing: 10px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .nav .nav1 .nav1-div .siteName {
    font-size: 250px;
    letter-spacing: 1px;
  }

  .nav .nav2 .nav2-div .siteName2 {
    font-size: 250px;
    letter-spacing: 1px;
  }
}
