.mainCard3Kids {
  margin-left: 8px;
  margin-top: 40px;
  border-radius: 12px;
  width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageContainer3Kids {
  max-height: 56vh;
  overflow: hidden;
}

.mainCard3Kids:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.mainCard3Kids:hover .knowMore3Kids {
  visibility: visible;
  opacity: 1;
}

.images3Kids {
  object-fit: cover;
  width: 100%;
  height: 56vh;
  transition: transform 0.4s;
}

.mainCard3Kids:hover img {
  transform: scale(1.2);
}

.text3Kids {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.textsKids {
  display: flex;
  flex-direction: column;
}

.title3Kids {
  text-transform: lowercase;
  color: #232323;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.price3Kids {
  color: #172035;
  font-weight: 600;
}

.knowMore3Kids:hover {
  background-color: black;
  color: white;
}

.knowMore3Kids {
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
  border: none;
  height: 40px;
  padding: 6px;
  border-radius: 12px;
  background-color: #e5e5e5;
  color: black;
  transition: 0.4s;
  letter-spacing: 1px;
}

@media only screen and (max-width: 766px) {
  .knowMore3Kids {
    height: 40px;
    font-size: 12px;
    padding: 4px;
    border-radius: 12px;
    background-color: #e5e5e5;
    color: black;
    transition: 0.4s;
    letter-spacing: 1px;
  }

  .price3Kids {
    font-size: 14px;
  }

  .title3Kids {
    font-size: 14px;
  }
}
